name: Spiewosz CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '10.0.x'

    - name: Restore
      run: dotnet restore src/spiewosz/spiewosz.WebApp/spiewosz.WebApp.csproj

    - name: Build
      run: dotnet build src/spiewosz/spiewosz.WebApp/spiewosz.WebApp.csproj --configuration Release --no-restore
